run = "cd clarity-pool-platform/apps/api && npm run start:dev"
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 17173
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 18370
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 20345
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 28773
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 38904
externalPort = 3003
exposeLocalhost = true

[deployment]
build = ["sh", "-c", "cd clarity-pool-platform/apps/api && npm install && npm run build"]
run = ["sh", "-c", "run = \"cd clarity-pool-platform/apps/api && npm run start:prod\""]
deploymentTarget = "cloudrun"
